body {
  font-family: Arial, sans-serif;
  background: #e4f1fe;
  color: #fff;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #22313f;
}

.cars-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.car-card {
  background: #34495e;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  transition: transform ease-in-out 0.5s;
}

.car-card:hover {
  transform: scale(103%);
}
.car-card img {
  transition: transform 300ms ease-in-out;
}

.car-card img:hover {
  transform: scale(1.05);
}

.car-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.car-info {
  padding: 10px;
}

.car-info h3 {
  margin: 0;
  font-size: 16px;
}

.brand {
  color: #aaa;
  font-size: 13px;
}

.rating {
  color: gold;
  font-size: 14px;
}

.price {
  color: #4caf50;
  font-weight: bold;
  margin-top: 6px;
}
